# Zamzam Field Environment Variables
VITE_SUPABASE_URL=https://xpyxzssbrbcoukdpdxjx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhweXh6c3NicmJjb3VrZHBkeGp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzNjYwNzYsImV4cCI6MjEwNTk0MjA3Nn0.gL23Rf0dVMv0aDACcoT4Pc3f3iIXjJfYrJyGgSlumMs
VITE_PROTOMAPS_API_KEY=c67afbf0807f68f3
VITE_GOOGLE_MAPS_API_KEY=AIzaSyDn5f3kuL4ByNDovy7jvcXwkJ5B7Us4_zA
GEMINI_API_KEY=
